.container{
    display: grid;
    text-align: center;
    gap: 10px;

    &_input{
      padding: 10px;
      border-radius: 40px;
      border: 1px solid #5ba515;
    }

    &_btn{
        background-color: #5ba515;
        color: white;
        border: none;
        border-radius: 40px;
        padding: 10px;
        // width: 90px;
    }
}