*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0px 90px;
  }

  .link{
    text-decoration: none;
    color: #707070;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    font-weight: bold;
  }
  
  .link:hover{
  color: #5ba515;
  }
  

  .introBannerHolder{
    width: 100%;
    
    &_listingPage{
      
      display: flex;
      align-items: center;
      justify-content: center;
        position: relative;
        z-index: -4;
  
  
       &_img{
        max-width: 100%;
        min-height: 300px;
        display: flex;
        text-align: center;
        justify-content: center;
      }
  
      &_breadCrumbs{
        position: absolute;
        z-index: 4;
        
        
        &_title{
          font-size: 36px;
          line-height: 29px;
          color: #333333;
          display: flex;
          justify-content: center;
        }
        
        &_list_inline{
          display: flex;
          text-align: center;
          // gap: 50px;
          
          &_item{
            margin-top: 10px;
            color: #5ba515;
            font-size: 18px;
            line-height: 20px;
            font-weight: 600;
          }
          
          
        }
      }
    }
    
  }

  .header_info{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }

.newsLetterSection{
    background-image:url(../../../assets/images/n-bg3.jpg);
    width: 100%;
    margin: 80px 0;
    padding: 10%;
    height: auto;
    // background-color: #f1f1f1;
    display: grid;
    text-align: center;
    justify-content: center;
    gap: 30px;
    
    &_title{
        line-height: 29px;
        font-size: 36px;
        
    }
  
    &_img{        
    display: flex;
    justify-content: center;
  
    }
    
    &_info{
        color: #707070;
        
    }
  
    &_banner{
        width: 600px;
        height: 50px;
        position: relative;
  
  
        &_input{
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius: 40px;
            border: none;
            outline: none;
            padding: 0px 20px;
            font-size: 14px;
            
        }
        
        &_button{
            gap: 20px;
            display: flex;
            align-items: center;
            max-width: 180px;
            padding: 16px 20px;
            border-radius: 40px;
            border: none;
            background-color: #5ba515;
            color: #fff !important;
            box-shadow: 11px 1px 18px 15px rgba(0, 0, 0, 0.1);
            font-size: 16px;
            line-height: 18px;
            font-weight: bold;
            cursor: pointer;
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
  
  }

  
@media only screen and (min-width:320px) and (max-width:992px){

  .container{
      padding: 0 40px;
  }
  .introBannerHolder{
    width: 100%;
    box-sizing: border-box;
  }

  .row{
    h1{
      font-size: 20px;
    }
  }
  .newsLetterSection{
    width: 100%;
    margin: 80px 0;
    padding: 10%;
    height: auto;
    display: grid;
    text-align: center;
    justify-content: center;
    gap: 30px;

    &_title{
      font-size: 20px;
    }

    &_info{
      font-size: 8px;
    }

    &_banner{
      width: 300px;
    }
  }

 
  
}