li{
    list-style: none;
}
.link{
    text-decoration: none;
    color: #afafaf;
}

.newsBlogColumn{    
    
    &_bottom{
        margin-top: 40px;
        width: 100%;
        gap: 40px;
        
        &_item{
            margin-top: 30px;
            width: 100%;
            display: flex;

            
            
            &_img_time{
                background-color: #5ba515;
                color: #fff;
                padding: 10px  25px;
                margin-right: 20px;
                width: 70px;
                height: 70px;
                font-size: 14px;
                
            }
            
            
            &_info{
                width: 100%;
                margin-bottom: 20px;
                display: grid;
                flex-wrap: wrap;
                text-align: left;
                gap: 20px;
                
                &_sharing{
                    color: #afafaf;
                    font-size: 12px;
                    line-height: 14px;
                    
                    .link:hover{
                        color: #5ba515;
                        
                        
                    }
                }
                
                .title{
                    color: #444444;
                    font-size: 16px;
                    line-height: 18px;
                    
                }
                
                .title:hover{
                    color: #5ba515;
                }
                .text{
                    color: #707070;
                    font-size: 15px;
                    line-height: 24px;
                }
            }
         }

         &_item:hover{
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);


         }
     }
    
}


@media only screen and (min-width:320px) and (max-width:992px){

    .container{
        padding: 0 40px;
    }
    .newsBlogColumn_bottom{
        display: grid;
    }


  
    .newsLetterSection{
        width: 100%;
        margin: 80px 0;
        padding: 10%;
        height: auto;
        display: grid;
        text-align: center;
        justify-content: center;
        gap: 30px;
    
        &_title{
          font-size: 20px;
        }
    
        &_info{
          font-size: 8px;
        }
    
        &_banner{
          width: 300px !important;
          justify-content: center;
        }
      }
}

