.container{
    padding: 0px 90px;
  }
.link{
  text-decoration: none;
  color: #707070;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  font-weight: bold;
}

.link:hover{
color: #5ba515;
}

.introBannerHolder{
  width: 100%;
  
  &_listingPage{
    
    display: flex;
    align-items: center;
    justify-content: center;
      position: relative;
      z-index: -4;


     &_img{
      max-width: 100%;
      min-height: 300px;
      display: flex;
      text-align: center;
      justify-content: center;
    }

    &_breadCrumbs{
      position: absolute;
      z-index: 4;
      
      
      &_title{
        font-size: 36px;
        line-height: 29px;
        color: #333333;
        display: flex;
        justify-content: center;
      }
      
      &_list_inline{
        display: flex;
        text-align: center;
        // gap: 50px;
        
        &_item{
          margin-top: 10px;
          color: #5ba515;
          font-size: 18px;
          line-height: 20px;
          font-weight: 600;
        }
        
        
      }
    }
  }
  
}

.listingData{
  margin: 90px 0;
  
  
  &_row{
    display: flex;
    column-gap: 50px;
    
    &_rightContent_topStrip{
      font-size: 15px;
      line-height: 17px;
      color: #707070;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    
    &_tab{
      width: 200px;
      position: relative;
      
      &_btn{
        background: none !important; 
        border: 1px solid rgba(0,0,0,0.1) !important; 
        width: 100% !important; 
        padding: 10px 20px !important; 
        text-transform: capitalize !important; 
        color: rgba(0,0,0,0.7) !important; 
        display: flex;
        text-align: center;
        align-items: center;
        // justify-content: flex-start !important;
        font-size: 14px;
        
        
        &_show{
          width: 40px;
          height: 40px;
          font-size: 20px;
          line-height: 22px;
          color: #707070;
          padding: 8px;
          border: 1px solid #ebebeb;
        }

        &_show:hover{
          background-color: #5ba515;
          color: #fff;
          
        }
      }
      
      
      
      
      &_dropdownMenu{
        width: 100% !important;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #fff;
        text-align: left;
        list-style: none;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
        border: 1px solid rgba(0,0,0,0.1) !important; 
        border-radius: 0.25rem;
        transform: translate3d(0px, -50px, 0px);
        
        
        
        &_btn{
          width: 100% !important; 
          font-size: 16px !important; 
          border: none;
          background: none !important; 
          padding: 10px 20px !important; 
          text-transform: capitalize !important; 
          text-align: left;
          color: #212529!important; 
          border-radius: 10px !important; 
          
        }
      }
      
    }
    
  }
  
  
  
  .dealSecHolder_dealSlider {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    // padding-left: 30px;
  }
}


}

.newsLetterSection{
  background-image:url(../../../assets/images/n-bg3.jpg);
  width: 100%;
  margin: 80px 0;
  padding: 10%;
  height: auto;
  // background-color: #f1f1f1;
  display: grid;
  text-align: center;
  justify-content: center;
  gap: 30px;
  
  &_title{
      line-height: 29px;
      font-size: 36px;
      
  }

  &_img{        
  display: flex;
  justify-content: center;

  }
  
  &_info{
      color: #707070;
      
  }

  &_banner{
      width: 600px;
      height: 50px;
      position: relative;


      &_input{
          width: 100%;
          height: 100%;
          background-color: #fff;
          border-radius: 40px;
          border: none;
          outline: none;
          padding: 0px 20px;
          font-size: 14px;
          
      }
      
      &_button{
          gap: 20px;
          display: flex;
          align-items: center;
          max-width: 180px;
          padding: 16px 20px;
          border-radius: 40px;
          border: none;
          background-color: #5ba515;
          color: #fff !important;
          box-shadow: 11px 1px 18px 15px rgba(0, 0, 0, 0.1);
          font-size: 16px;
          line-height: 18px;
          font-weight: bold;
          cursor: pointer;
          position: absolute;
          top: 0px;
          right: 0px;
      }
  }

}






// .sidebarWrapper{
//   // margin-top: 80px;
//   width: 400px; 


  
// }

@media only screen and (min-width:320px) and (max-width:992px){
  .container{
    padding: 0 20px;
}

.listingData_row{
  display: grid;

  &_rightContent_topStrip_tab{
    width: 100%;
  }
}
  .newsLetterSection{
    width: 100%;
    margin: 80px 0;
    padding: 10%;
    height: auto;
    display: grid;
    text-align: center;
    justify-content: center;
    gap: 30px;

    &_title{
      font-size: 20px;
    }

    &_info{
      font-size: 8px;
    }

    &_banner{
      width: 300px;
    }
  }


}
