*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0px 90px;
  }


.link{
    color: #666666;
    text-decoration: none;

}


.header{
    width: 90%;
    // position: fixed;
    z-index: 10;


    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    &_menu{
        display: flex;
        padding: 16px;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        list-style: none;


        &_item{
            position: relative;
            color: #333333;
            cursor: pointer;
            font-weight: 700;

        
        
        &_dropdown{
            position: absolute;
            z-index: 10;
            top: 100%;
            left: 0;
            font-size: 16px;
            line-height: 18px;
            min-width: 234px;
            font-weight: 600;
            border-top: 2px solid #5ba515;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);


            &_li{
                color: #444444;
                padding-left: 15px;
                padding-top: 10px;
                
                
            }
            
            &_li:hover{
                background-color: #5ba515;
                color: #fff;
                
            }
            
            
            
        }
        
        
        &_dropdown:hover{
            margin-top: 50px;
            color: #5ba515;
            }
        
        
    }


        &_item--link{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            color: black;
            margin: 0;

        }


    }
    &_icons{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

.header_container_cart_button{
    width: 3.5rem;
    border: none;
    background-color: rgba(245, 222, 179, 0);
    display: flex;
    justify-content: space-between;
}

.icon {
    font-size: 2rem;
}

.icon:hover {
   color: rgb(222, 222, 222);
   cursor: pointer;
}







@media only screen and (min-width:320px) and (max-width:992px){

    .container{
        padding: 0 20px;
    }
    .header{
        // width: 90% !important;
        display: flex;
        flex-wrap: wrap;
        justify-content:left;
        top: 10px;
        margin-left: 0px;
        box-sizing: border-box;
        
        
        &_menu{
            font-size: 8px;
            width: 100% !important;
            // position: fixed;
            top: 15%;
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            // align-items: center;


            &_item{
                // width: 8% !important;
                margin: 0px !important;
                text-align: left !important;
                justify-content: flex-start !important;
                
                &--link{
                    width: 100% !important;
                    text-align: left !important;
                    display: flex !important;
                    align-items: center;
                    justify-content: space-between !important;
                    font-size: 14px;
                    font-weight: 700;
                    cursor: pointer;

                }

                &--link:hover{
                    width: 100% !important;
                    background-color: #000;
                    color: #5ba515;

                }

            }
        }


    }


}