.productThumb{
    width: 210px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.3 ease-in-out;
    position: relative;
    // margin: 30px;

    &_badge {
        position: absolute;
        top: 10px;
        left: 4px;
        // max-width: 50px;
        // min-height: 80px;
        display: inline-block;
        z-index: 10000;
        color: #fff;
        padding: 4px 15px 7px 2px;
        border-radius: 0 15px 15px 0;
        font-size: 14px;
        line-height: 16px;
        transform: rotate(90deg);
        font-weight: bold;
        display: block;
        text-align: center;
        background-color: #f9861f;
        // background-color: #5ba515;
        text-transform: uppercase;

        // hot{
        //     background-color: #f9861f;
        // }

        // sale{
        //     background-color: #5ba515;
        // }

        
    }


    &_imgWrapper{
        width: 100%;
        height: 250px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        
        img{
            transition: all 0.3s ease-in-out;
        }

        &_overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.1 );
            padding: 25px;
            display: flex;
            align-items: end;
            justify-content: center;
            opacity: 0;
            transform: scale(0.8);
            // top: 0;
            // left: 0;
            

            

            &_list{
                height: 40px;
                display: flex;
                gap: 10px;
         
                
                &_item{
                    border-radius: 10px;
                    box-shadow: 0 1px 19px 6px rgba(0, 0, 0, 0.1);
                    background-color: #fff;
                    padding: 8px;
                    font-size: 18px;
                    line-height: 22px;
                    width: 40px;
                    margin-right: 0px !important;
                    overflow: hidden;
                    border: none;
                    
                    &_cursor{
                        color: #444444;
                        display: block;
                        padding: 3px;
                    }
                    &_cursor:hover{
                        color: #fff;
                        opacity: 0.7;
                    }
                }

                &_item:hover{
                    background-color: #5ba515;
                    opacity: 1;
        
                }
                
                
            }
            &_list:hover{
                position: absolute;
                transition: all 0.5s linear;

            }
        }

        &_overlay:hover{
            opacity: 1;
            transform: scale(1);
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
    
        &_info{
            padding-bottom: 25px;
            text-align: center;
            
            &_link{
                text-decoration: none;
                
            }
            
            
            &_title {
                font-weight: 400;
                font-size: 16px;
                line-height: 2;
                text-decoration: none;
                display: flex;
                // text-align: center;
                color: #707070;
                // background-color: red;
                
                
            }
            &_price{
            font-size: 16px;
            line-height: 18px;
            font-weight: 900;
            color: #444444;
        
        }
        
        &_oldprice{
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            margin-right: 10px;
            opacity: 0.6;
            color: #bebebe;
            text-decoration: line-through;

        }
 
    }

    }


.productThumb:hover{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16),
     0px 3px 6px rgba(0, 0, 0, 0.23);


    //  &_imgWrapper_overlay_list{
    //     opacity: 1;
    //     transform: scale(1);
    //  }
}

@media only screen and (min-width:320px) and (max-width:992px){

    .container{
        padding: 0 40px;
        // width: 100%;
    }

    .productThumb{
        width: 100%;
        height: 100%;
        display: grid;
        
        &_imgWrapper{
            width: 100%;
            height: 250px;
            overflow: hidden;
            position: relative;      
            
            
            &_overlay_list{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                position: absolute;

            }
        }
    }

}