*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0px 90px;
  }
  
  // .link{
  //   text-decoration: none;
  //   color: #fff;
  //   font-size: 15px;
  //   line-height: 17px;
  //   font-weight: bold;
  // }
  
  .link:hover{
  color: #5ba515;
  }

  .introBannerHolder{
    width: 100%;
    
    &_listingPage{
      
      display: flex;
      align-items: center;
      justify-content: center;
        position: relative;
        z-index: -4;
  
  
       &_img{
        max-width: 100%;
        min-height: 300px;
        display: flex;
        text-align: center;
        justify-content: center;
      }
  
      &_breadCrumbs{
        position: absolute;
        z-index: 4;
        
        
        &_title{
          font-size: 36px;
          line-height: 29px;
          color: #333333;
          display: flex;
          justify-content: center;
        }
        
        &_list_inline{
          display: flex;
          text-align: center;
          // gap: 50px;
          
          &_item{
            margin-top: 10px;
            color: #5ba515;
            font-size: 18px;
            line-height: 20px;
            font-weight: 600;

            .link{
              text-decoration: none;
              color: #707070;
              // font-size: 15px;
              // line-height: 17px;
              // font-weight: bold;
              
            }
            // .link:hover{
            //   color: #5ba515;
            // }
          }
          
          
        }
      }
    }
    
  }
  .abtSecHolder{
    margin: 90px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_info{
      width: 50%;
      text-align: left;
      padding-right: 80px;
      
      &_title{
        font-family: "Playfair Display", serif;
        font-size: 36px;
        line-height: 36px;
        color: #333333;
        margin-bottom: 25px;
        
      }
      p{
        width: 70px;
        height: 1px;
        background-color: #5ba515;
        margin-bottom: 40px;
      }

      &_text{
        margin-right: 80px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: left;
        color: #707070;
      }

    }

    &_img{
      display: flex;
      justify-content: right;

    }



  }

  .progressCounter {
    width: 100%;
    padding: 0px 15px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 60px;

    &_info{
      border-right: 1px solid #e6e3e3;
      padding-right: 60px;

      h1{
        font-size: 50px;
        line-height: 52px;
        color: #333333;
      }
      
      p{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1px;
        color: #999999;
        text-transform: uppercase;
        
      }
    }

    &_info:nth-child(4){
      border: none;
    }



  }

  .introSec{
    background-color: #f6f6f6;
    margin-top: 80px;
    padding: 20px 0;
    
    &_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;

    
    
    &_accordion{
      max-width: 50%;
      padding: 80px 0;
    }
  }
}

.ProcessStepSec{
  margin: 80px 0;
  width: 100%;
  display: grid;
  text-align: center;
  
  &_header_title{
    font-size: 36px;
    line-height: 29px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

  }

 

    &_bottom{
      margin-top: 50px;
    
    &_item{
      position: relative;
      width: 429px;
      padding: 30px;
      margin-left: 80px;

      background-color: #f6f6f6;

      &_mainTitle{
        max-width: 109px;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #fff;
        background-color: #5ba515;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
        padding: 5px 16px;
        margin-top: -40px;
        margin-bottom: 25px;

      }

     
        &_info_title{

          font-size: 16px;
          line-height: 18px;
          color: #444444;
          text-transform: uppercase;
          text-align: left;
          margin-bottom: 16px;

        }

        &_info_job{
          font-size: 15px;
          font-weight: 400;
          text-align: left;
          color: #707070;
        }
        
        &_2{
          display: flex;
          justify-content: right;
          margin-right: 80px;
          margin-top: 15px;
        }
      }
    }  
  }  
  



.NewsPostColumn{
  margin: 80px 0;
  width: 100%;
  display: grid;
  justify-content: center;
  text-align: center;

  &_header_title{
      font-size: 36px;
      line-height: 29px;
      margin-bottom: 20px;

  }


  &_bottom{
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      gap: 40px;

      &_item{
          width: 100%;
          position: relative;

          &_img{
            position: relative;

          }

          &_socialNetworks{
            position: absolute;
            width: 100%;
            height: 75%;
            top: 0;
            left: 0;
            background: rgba(51, 51, 51, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.35s linear,
            visibility 0.35s linear;
            gap: 30px;

            .link{
              color: #fff;
            }

          }
          &_socialNetworks:hover{
            opacity: 1;
          }
         
          &_info{
              margin: 20px 0px;
              display: grid;
              flex-wrap: wrap;
              text-align: center;
              gap: 20px;


              &_sharing_name{
                  color: #afafaf;
                  font-size: 12px;
                  line-height: 14px;

                  .link{
                    color: #333333;
                    text-decoration: none;
                    font-size: 15px;
                    line-height: 17px;
                    font-weight: bold;
                  }
               

                  .link:hover{
                    color: #5ba515;
                  }
                }

                &_job{
                  color: #707070;
                  font-size: 14px;
                  line-height: 16px;
                  font-weight: 400;

                }

              
          }
       }

       &_item:hover{
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);

       }
   }
  
}

.newsLetterSection{
    width: 100%;
    margin: 80px 0;
    padding: 10%;
    height: auto;
    background-color: #f1f1f1;
    display: grid;
    text-align: center;
    justify-content: center;
    gap: 30px;
    
    &_title{
        line-height: 29px;
        font-size: 36px;
        
    }

    &_img{        
    display: flex;
    justify-content: center;

    }
    
    &_info{
        color: #707070;
        
    }

    &_banner{
        width: 600px;
        height: 50px;
        position: relative;


        &_input{
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius: 40px;
            border: none;
            outline: none;
            padding: 0px 20px;
            font-size: 14px;
            
        }
        
        &_button{
            gap: 20px;
            display: flex;
            align-items: center;
            max-width: 180px;
            padding: 16px 20px;
            border-radius: 40px;
            border: none;
            background-color: #5ba515;
            color: #fff !important;
            box-shadow: 11px 1px 18px 15px rgba(0, 0, 0, 0.1);
            font-size: 16px;
            line-height: 18px;
            font-weight: bold;
            cursor: pointer;
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }

}


@media only screen and (min-width:320px) and (max-width:992px){

  .container{
      padding: 0 40px;
  }


  .abtSecHolder{
    width: 100% !important;
    
    display: grid;
    &_info{
      &_title{
        width: 300px;
        display: flex;
        align-items: center;
        font-size: 26px;
      }

      &_text{
        width: 300px;
        font-size: 10px;
        display: flex;
      //  justify-content: center;
      }
    }

    &_img{
      display: flex;
      justify-content: center;
      text-align: center;
      img{
        width: 300px;
        height: 300px;
      }
    }
  }

  .progressCounter{
    display: grid;
  }

  .introSec{
    
    &_info{
      width: 300px;
      height: 100%;
      display: grid;

      img{
        width: 300px;
        height: 200px;
      }


    }

  }

  .ProcessStepSec{
    display: grid;
    justify-content: center;

    &_header{
      width: 100%;
      
    }
  }

  .NewsPostColumn{
    
    &_bottom{
      display: grid;
      justify-content: center;

    }

  }

  .newsLetterSection{
    width: 100%;
    margin: 80px 0;
    padding: 10%;
    height: auto;
    display: grid;
    text-align: center;
    justify-content: center;
    gap: 30px;

    &_title{
      font-size: 20px;
    }

    &_info{
      font-size: 8px;
    }

    &_banner{
      width: 300px !important;
      justify-content: center;
    }
  }
}
